.btnModal {
    display: inline-block;
    margin: 1rem 9rem 1rem 1rem;
    width: 680px;
    padding: 0.600rem 0;
    border: none;
    background: var(--color-white);
    border-radius: 6px;
    transition: 0.5s !important;
}

.btnModal:hover {
    cursor: pointer;
}

.btnModal span {
    color: var(--color-blue-01) !important;
    font-family: 'Roboto';
    font-style: normal !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.btnModal:hover {
    background: var(--color-gray-02) !important;
    transition: 0.5s !important;
}