.container {
  width: 100%;
  min-height: 100vh;
}

.hank {
  padding: 5rem 2rem 0 2rem ;
  background-color: var(--color-gray-04);
  width: 100%;
  height: 630px;
  margin: 0 auto;
}

.hank .title {
  text-align: center;
  color: var(--color-gray-09) !important;
  font-size: 35px !important;
  font-weight: 400;
  line-height: 58px;
  margin-bottom: 3rem !important;
}

.container-hank {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.upicon {
  color: #E63946 !important;
  font-size: 2rem !important;
  margin: -8px 0;
}


.div-veja {
  width: 300px ;
  margin: 2rem auto;
}

.btnVeja {
  width: 100% !important;
  height: 45px !important;
  font-weight: 600 !important;
  letter-spacing: 1.2 !important;
  background: var(--color-blue-btn) !important;
  color: var(--color-white) !important;
}

/*Barra de postagem*/

.campo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 850px;
  height: 100px;
  margin: 4rem auto;
  padding: 0 2rem;

  background-color: var(--color-blue-04);
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.avatar-home {
  margin: 0 1rem;
}

@media(max-width: 1200px) {
  .campo-text {
    width: 700px;
  }
}

.cor-link {
  color: var(--color-white) !important;
}
