.regras-container {
    width: 100vw !important;
    height: 100vh !important;
}

.regras-title {
    font-weight: bold !important;
    color: var(--color-black);
}

.regras-conteudo {
    text-align: justify !important;
    color: var(--color-black);
}