.termos-container{
    background-color: var(--color-white);
    width: 100vw !important;
    height: 100vh !important;
}

.termos-title{
    font-weight: bold !important;
    color: var(--color-black);
}

.termos-conteudo{
    text-align: justify !important;
    color: var(--color-black);
}

.termos-img{
    width: 500px;
    height: 500px;
}