.termos-container{
    background-color: var(--color-white);
}

.termos-title{
    font-weight: bold !important;
    color: var(--color-black);
}

.termos-conteudo{
    text-align: justify !important;
    color: var(--color-black);
}