.sobre-container {
    width: 100%;
    height: 100% ;
    padding: 6rem 1rem;
    background-color: var(--color-white);
}


.sobre-conteudo {
    display: flex !important ;
    flex-direction: row;
    height: 50vh;
    text-align: justify;
    padding: 2rem 1rem;
    margin-bottom: 5rem;
}

.title-sobre {
    color: var(--color-blue-01) !important;
    font-weight: 400 !important;
    font-size: 35px !important;
    line-height: 58px !important;
    margin-bottom: 2.2rem !important;
    padding: 1rem 3rem;
}

.logoODS16 img {   
    margin-top: 9rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.span-memo {
    font-weight: 700;
}

.text-sobre p {
    padding: 1rem 2rem;
    line-height: 1.6;
    font-size: 16px;
}

.sobre-icons {
    color: var(--color-black) !important;
}


.before-perfil::before {
    content: '';
    width: 868px;
    height: 2px;
    background: linear-gradient(180deg, #50688B 0%, #1D3557 100%);
    position: absolute;

    top: 83%; 
    left: 30%;                        
    transform: translate(0, -30%)
}