.footer-container {
    background-color: var(--color-gray-03) !important;
    width: 100%;
    height: 100%;
}

.text-title {
    color: var(--color-black) !important;
    font-weight: bold !important;
}

.text-style {
    color: var(--color-black) !important;
}

.icons {
    font-size: 40px !important;
    color: var(--color-black) !important;
    padding: 0.2rem;
}

.text-decorator-none {
    color: var(--color-black) !important;
    text-decoration: none;
}

.text-decorator-none:hover {
    text-decoration: underline;
}