:root {
  --color-red-btn:  linear-gradient(180deg, #E63946 0%, #A7000C 100%);

  --color-black: #111111;
  --color-black-10: #2E2E2E;

  --color-white: #F7F7F7;
  --color-white-01: #FFFFFF;
  --color-white-05: #B3B3B3;

  --color-gray-02: #DEDEDE;
  --color-gray-03: #EDEDED;
  --color-gray-04: #CCCCCC;
  --color-gray-09: #404040;

  --color-blue-btn: linear-gradient(180deg, #50688B 0%, #1D3557 100%);
  --color-blue-05: #93A6C3;
  --color-blue-04: #6A81A3;
  --color-blue-01: #1D3557;
  --color-blue-03: #50688B;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-red-btn);
}


