:root {
  --color-red-btn:  linear-gradient(180deg, #E63946 0%, #A7000C 100%);

  --color-black: #111111;
  --color-white: #F7F7F7;

  --color-gray-02: #DEDEDE;
  --color-gray-03: #EDEDED;
  --color-gray-04: #CCCCCC;

  --color-blue-btn: linear-gradient(180deg, #50688B 0%, #1D3557 100%);
  --color-blue-05: #93A6C3;
  --color-blue-04: #6A81A3;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*===COR NO SCROLL ====*/
::-webkit-scrollbar{
  background:var(--color-gray-600) !important; 
  width: .7rem; 
}

::-webkit-scrollbar-thumb {
 background:var(--color-blue-900) !important; 
 border-radius: .7rem;
}